# List and its default functions

In [1]:
#defining a list
countries = ["India","Australia","Brazil","Austria","Germany"]
countries

['India', 'Australia', 'Brazil', 'Austria', 'Germany']

In [2]:
# append(): It adds the new element to the end of the list
countries.append("Egypt")
countries

['India', 'Australia', 'Brazil', 'Austria', 'Germany', 'Egypt']

In [3]:
# pop(): Removes an element from the specified position
countries.pop(2)
countries

['India', 'Australia', 'Austria', 'Germany', 'Egypt']

In [4]:
# insert(): Inserts an element at a specified position
countries.insert(2,"Brazil")
countries

['India', 'Australia', 'Brazil', 'Austria', 'Germany', 'Egypt']

In [5]:
# reverse(): Reverses the order of the list
countries.reverse()
countries

['Egypt', 'Germany', 'Austria', 'Brazil', 'Australia', 'India']

In [6]:
# extend(): Adds another list to the end of existing list
population = [9.8, 8.3, 88.6, 20.95, 2.5, 135.2]
countries.extend(population)
countries

['Egypt',
 'Germany',
 'Austria',
 'Brazil',
 'Australia',
 'India',
 9.8,
 8.3,
 88.6,
 20.95,
 2.5,
 135.2]

# Dictionary and its default functions

In [7]:
# defining a dictionary
fruit_seed = {"apple":50, "watermelon":150, "grapes":0, "mango":1, "chickoo":5}
fruit_seed

{'apple': 50, 'watermelon': 150, 'grapes': 0, 'mango': 1, 'chickoo': 5}

In [8]:
# get(): gets the value of the specified key
fruit_seed.get("mango")

1

In [9]:
# update(): updates the dictionary with the newly specified key-value pair
fruit_seed.update({"guava":30})
fruit_seed

{'apple': 50,
 'watermelon': 150,
 'grapes': 0,
 'mango': 1,
 'chickoo': 5,
 'guava': 30}

In [10]:
# values(): returns a list of all the values in the dictionary
fruit_seed.values()

dict_values([50, 150, 0, 1, 5, 30])

In [11]:
# items(): returns a list of all the key-value pairs in the dictionary
fruit_seed.items()

dict_items([('apple', 50), ('watermelon', 150), ('grapes', 0), ('mango', 1), ('chickoo', 5), ('guava', 30)])

In [12]:
# setdefault(): returns the value of the specified key. If the key does not exist, it sets the mentioned default value
fruit_seed.setdefault("chickoo", 10)

5

In [13]:
fruit_seed.setdefault("orange",20)
fruit_seed

{'apple': 50,
 'watermelon': 150,
 'grapes': 0,
 'mango': 1,
 'chickoo': 5,
 'guava': 30,
 'orange': 20}

# Sets and its default methods

In [14]:
#defining sets
science = {"Physics", "Chemistry", "Maths", "Biology"}
bifocal = {"CS", "IT"}
science

{'Biology', 'Chemistry', 'Maths', 'Physics'}

In [15]:
# add() method: adds an element to the set
bifocal.add("Maths")
bifocal

{'CS', 'IT', 'Maths'}

In [16]:
# difference(): returns a set containing the difference between two or more sets
d = science.difference(bifocal)
d

{'Biology', 'Chemistry', 'Physics'}

In [17]:
# union(): returns a set which is the union of the 2 sets
u = science.union(bifocal)
u

{'Biology', 'CS', 'Chemistry', 'IT', 'Maths', 'Physics'}

In [18]:
# intersection(): returns the set which is the intersection of the two sets
i = science.intersection(bifocal)
i

{'Maths'}

In [19]:
# remove(): removes the specified element from the set
bifocal.remove("Maths")
bifocal

{'CS', 'IT'}

# Tuples and its default methods

In [20]:
# defining the tuples
t1 = (15, 10, 80, 30, 100)
t2 = (20, 40, 12, 5)

In [25]:
#max() returns the maximum value from the tuple
print(max(t1))
print(max(t2))

100
40

In [26]:
#min() returns the minimum value from the tuple
print(min(t1))
print(min(t2))

10
5

In [27]:
# len() gives the total length of tuple
print(len(t1))
print(len(t2))

5
4

# String and its default functions

In [29]:
#defining a string
string = "once upon a time 123"
string

'once upon a time 123'

In [32]:
# split(): splits the string at a specified separator and returns a list
print(string.split())
print(string.split("a"))
print(string.split("o"))

['once', 'upon', 'a', 'time', '123']
['once upon ', ' time 123']
['', 'nce up', 'n a time 123']

In [33]:
# isalpha(): Returns true if all characters in the string are alphabets
string.isalpha()

False

In [34]:
# isdigit(): Returns true if all characters in the string are digits
string.isdigit()

False

In [35]:
#find(): Searches the string for the specified value and returns the first position of where it was found
print(string.find("up"))

5

In [36]:
# upper(): Converts a string to upper case
print(string.upper())

ONCE UPON A TIME 123

In [37]:
# title(): Converts the first character of each word to upper case
print(string.title())

Once Upon A Time 123